.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header, footer {
    background-color: grey;
    padding: 10px;
}

.sidebar {
    min-width: 200px;
    background-color: purple;
    padding: 10px;
}

.content {
    display: flex;
    flex: 1;
}

.main {
    flex-grow: 1;
}

footer {
    margin-top: auto;
}