.container {
    width: 100%;
    background-color: red;
    table-layout: fixed;
}

.header, .sidebar, .main, .footer {
    padding: 20px;
}

.sidebar {
    width: 200px;
    background-color: #f1f1f1
}

.header, .footer {
    background-color: #eeeeee;
}

.main {
    background-color: white;
    width: 100%;
}